.team-container {
    margin: 15px;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 4px;
} 
.badge {
    max-width: 150px;
    margin: auto;
}
.badge img {
    width: 100%;
}
.explore-btn {
    background-color: #3f0df1;
    color: #fff;
    padding: 14px 18px;
    border: #3f0df1;
    border-radius: 2px;
}